{% extends "base/header.html" %}
{% block content %}
<!-- templates/ps/index.html -->

<h1>Plan de Salida de Libertad</h1>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Persona Privada de Libertad</th>
      <th>Fecha de inicio</th>
      <th>Fecha de fin</th>
      <th>Actividades</th>
      <th>Seguimiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for ps in ps_list %}
    <tr>
      <td>{{ ps.id }}</td>
      <td>{{ ps.id_persona_privada.nombre }} {{ ps.id_persona_privada.apellido }}</td>
      <td>{{ ps.fecha_inicio }}</td>
      <td>{{ ps.fecha_fin }}</td>
      <td>{{ ps.actividades }}</td>
      <td>{{ ps.seguimiento }}</td>
      <td>
        <a href="{{ url_for('ps.update', id=ps.id) }}">Editar</a>
        <a href="{{ url_for('ps.delete', id=ps.id) }}">Eliminar</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<a href="{{ url_for('ps.create') }}">Crear un nuevo plan de salida</a>
  
  {% endblock %}