<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Reintegra</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
  <header class="bg-blue-600 p-4">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo -->
      <div class="flex items-center">
        <img src="static/img/1x/fondo-transparente.png" alt="Logo" class="w-full h-full mr-4">
        <h1 class="text-white text-lg font-bold">Reintegra</h1>
      </div>
      
      <!-- Barra de Navegación -->
      <nav>
        <ul class="flex space-x-4 items-center">
          <li><button class="text-black px-1 py-1 hover:bg-gray-100"><a href="">Psicosocial</a></button></li>
          <li><button class="text-black px-1 py-1 hover:bg-gray-100"><a href="">Laboral</a></button></li>
          <li><button class="text-black px-1 py-1 hover:bg-gray-100"><a href="">Educación</a></button></li>
          <li><button class="text-black px-1 py-1 hover:bg-gray-100"><a href="">Penal</a></button></li>
          <li><button class="text-black px-4 py-2 rounded-full bg-gray-200 hover:bg-gray-400">Buscar</button></li>
        </ul>
    </nav>
    </div>
  </header>
  <main class="container mx-auto mt-8 grid grid-cols-12 h-screen">

    <!-- id_persona_privada = PrimaryKey(int, auto=True)
    nombre = Required(str)
    apellido = Required(str)
    fecha_nacimiento = Required(date)
    genero = Required(str)
    documento_identidad = Required(str)
    fotografia = Optional(str) -->

    <!-- Columna 1: Información Personal -->
    <section id="Columna-1" class="bg-yellow-50 col-span-3">
      <img src="https://via.placeholder.com/150" alt="Person" class="w-[150] h-[150] object-cover mb-4">
      <p><span class="font-bold">Nombre:</span> Juan Antonio</p>
      <p><span class="font-bold">Apellido:</span> Pérez Rodríguez</p>
      <p><span class="font-bold">Nacimiento:</span> 01/01/2000</p>
      <p><span class="font-bold">Doc. Identidad:</span> 01/01/2000</p>
      <p><span class="font-bold">Género:</span> Masculino</p>
    </section>
    
    <!-- Columna 2: Actualizaciones -->
    <section id="Columna-2" class="bg-white p-4 col-span-6 border-black border-1">
    
    <!-- Navegación Interna -->
        <nav>
            <ul class="flex space-x-4">
              <li><button class="text-black p-2 bg-gray-200">Actividad</button></li>
              <li><button class="text-black p-2 bg-gray-400">Informes</button></li>
              <li><button class="text-black p-2 bg-gray-400">Estadísticas</button></li>
            </ul>
          </nav>
    
     <!-- Insertar Texto -->
      <textarea class="w-full mb-2 border-black border-2 m-2" placeholder="Agregar un comentario..."></textarea>

      <!-- Botón de Publicar Nota -->
      <div class="flex justify-end">
        <button class="rounded-full bg-gray-200 p-2 justify-items-end">Publicar</button>
      </div>

      <!--Comentarios Técnicos Anteriores -->
      <div>
        <p class="bg-gray-100 p-3 mt-2 comentario">Se realizó una evaluación de personalidad. Todo transcurrió con normalidad. No se registran eventos ni problemas.</p>
        <div class="flex justify-end info-usuario-log">
            <p class="font-bold px-2 bg-gray-200">Joaquín Prono, Psicólogo</p>
            <p class="font-normal px-2 bg-gray-200">15/04/2023</p>
            <p class="font-normal px-2 bg-gray-200">10:30 AM</p>
        </div>
      </div>
      
      <div>
        <p class="bg-gray-100 p-3 mt-2 comentario">El paciente demuestra evolución en su proceso de aprendizaje.</p>
        <div class="flex justify-end info-usuario-log">
            <p class="font-bold px-2 bg-gray-200">Cecilia Reyes, Educadora</p>
            <p class="font-normal px-2 bg-gray-200">13/04/2023</p>
            <p class="font-normal px-2 bg-gray-200">11:30 AM</p>
        </div>
      </div>
    </section>
    <!-- Columna 3 -->
    <section id="Columna-3" class="bg-yellow-50 p-4 col-span-3">
        <p>Pendiente</p>
    </section>
  </main>
</body>
</html>