{% extends 'base/header.html' %}

{% block head %}
	<title>OTC - Crear Registro</title>
{% endblock %}

{% block content %}
<div class="max-w-xl mt-10 mx-auto my-4 p-4 bg-white rounded shadow">
    <!-- TÍTULO DEL FORM -->
  <h1 class="text-2xl text-center font-bold text-gray-800 mb-4">Crear Reporte — Organismo Técnico Criminológico</h1>

  <!-- Atender que el URL del Action esté correcto -->
  <form method="POST" action="{{ url_for('otc.create') }}">
    {{ form.csrf_token }}


    <!-- ID de la PPL -->
    <div class="mb-4">
      <div class="block text-gray-700 font-bold mb-2">{{ form.id_persona_privada.label }}</div>
      <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> {{ form.id_persona_privada }} </div>
  </div>  

    <!-- RIESGO — PENDIENTE-->
    <div class="mb-4">
        <label class="block text-gray-700 font-bold mb-2">{{ form.riesgo.label }}</label>
        <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> {{ form.riesgo }} </div>
    </div>  
    
    <!-- FECHA DE REPORTE -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">{{ form.fecha_evaluacion.label }}</label>
      <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> {{ form.fecha_evaluacion }} </div>
  </div>  

    <!-- OBSERVACIONES -->
    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2">{{ form.observaciones.label }}</label>
      <div class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"> {{ form.observaciones }} </div>
  </div>    

    <!-- BOTÓN -->
    <button type="submit" class="w-full py-2 bg-[#364F6B] text-white font-bold rounded-md hover:bg-blue-500">Crear</button>
    
                          
  </form>
</div>
{% endblock %}
